<a href="https://colab.research.google.com/github/otavioaugusto1/Estatistica-com-Python/blob/main/RquadradoR2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_csv("https://raw.githubusercontent.com/danmorales/CursoDS_ProfDanilo/master/Estatistica/Calc_R2.csv")

In [3]:
dados

             Y          Y1          Y2          Y3          Y4          Y5
0  -442.000000 -302.243056 -222.381944 -442.000000 -442.000000 -442.000000
1  -323.374421 -273.461227 -213.565394 -323.374421 -323.374421 -323.374421
2  -226.884259 -244.679398 -203.012731 -226.884259 -226.884259 -226.884259
3  -150.359375 -215.897569 -190.723958 -150.359375 -150.359375 -150.359375
4   -91.629630 -187.115741 -176.699074  -91.629630  -91.629630  -91.629630
5   -48.524884 -158.333912 -160.938079  -48.524884  -48.524884  -48.524884
6   -18.875000 -129.552083 -143.440972  -18.875000  -18.875000  -18.875000
7    -0.509838 -100.770255 -124.207755   -0.509838   -0.509838   -0.509838
8     8.740741  -71.988426 -103.238426    8.740741    8.740741    8.740741
9    11.046875  -43.206597  -80.532986   11.046875   11.046875   11.046875
10    8.578704  -14.424769  -56.091435    8.578704    8.578704    8.578704
11    3.506366   14.357060  -29.913773    3.506366    3.506366    3.506366
12   -2.000000   43.138889   -2.000000   -2.000000   -2.000000   -2.000000
13   -5.770255   71.920718   27.649884   -5.770255   -5.770255   -5.770255
14   -5.634259  100.702546   59.035880   -5.634259   -5.634259   -5.634259
15    0.578125  129.484375   92.157986    0.578125    0.578125    0.578125
16   15.037037  158.266204  127.016204   15.037037   15.037037   15.037037
17   39.912616  187.048032  163.610532   39.912616   39.912616   39.912616
18   77.375000  215.829861  201.940972   77.375000   77.375000   77.375000
19  129.594329  244.611690  242.007523  129.594329  129.594329  129.594329
20  198.740741  273.393519  283.810185  198.740741  198.740741  198.740741
21  286.984375  302.175347  327.348958  286.984375  286.984375  286.984375
22  396.495370  330.957176  372.623843  396.495370  396.495370  396.495370
23  529.443866  359.739005  419.634838  529.443866  529.443866  529.443866
24  688.000000  388.520833  468.381944  688.000000  688.000000  688.000000

In [4]:
Y = dados['Y'].values
Y1 = dados['Y1'].values
Y2 = dados['Y2'].values
Y3 = dados['Y3'].values
Y4 = dados['Y4'].values
Y5 = dados['Y5'].values

In [9]:
from sklearn.metrics import r2_score #Calcula o R quadrado

In [6]:
r2_1 = r2_score(Y,Y1) #linear
r2_2 = r2_score(Y,Y2) #Quadr√°tico
r2_3 = r2_score(Y,Y3) #Assim sucessivamente
r2_4 = r2_score(Y,Y4)
r2_5 = r2_score(Y,Y5)

In [7]:
print("Grau 1: ", r2_1)

Grau 1:  0.7712730521486528

In [8]:
print("R2 (Grau 1) = ",r2_1)
print("R2 (Grau 2) = ",r2_2)
print("R2 (Grau 3) = ",r2_3)
print("R2 (Grau 4) = ",r2_4)
print("R2 (Grau 5) = ",r2_5)

R2 (Grau 1) =  0.7712730521486528
R2 (Grau 2) =  0.8003177439393002
R2 (Grau 3) =  1.0
R2 (Grau 4) =  1.0
R2 (Grau 5) =  1.0